.headerStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    background-color: #f6f3ee;
    color: white;
    /* overflow: hidden; */
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 9999;
}


/** Logo */

.logoStyle {
    font-size: 24px;
    width: 10%;
}

a {
    width: auto;
}

.logo {
    width: 100px;
}

/** account  */

.accountStyle {
    width: 23.5%;
    font-size: 15px;
    color: #0E2C75;
    display: flex;
    align-items: center;
}

.custom-icon {
    font-size: 26px;
    color: #0e2b7584;
    margin-right: 30px;
}

.accountStyle-details {
    display: flex;
    align-items: center;
    margin-left: 10px;
    line-height: 25px;
    position: relative;
    cursor: pointer;
}

.accountStyle-details img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 10px;
}

.accountStyle-details_hover {
    position: absolute;
    top: 67px;
    left: 0;
    width: 200px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 6px 20px;
    border-radius: 10px;
    display: none;
    animation: moveUp 0.5s ease-in-out forwards;
}

.accountStyle-details_hover a li {
    color: black !important;
    font-size: 1.7rem;
    padding: 6px 0;
}

.accountStyle-details_hover a li{
    transition: all 0.3s ease-in-out;
}

.accountStyle-details_hover a:hover li{
    color: rgb(2, 47, 182) !important;
    margin-left: 12px;
}

.accountStyle-details_hover a li:nth-child(3) {
    border-bottom: 1px solid #ffffff;
}


.accountStyle-details_hover::after {
    content: "";
    position: absolute;
    top: -125px;
    left: 15px;
    width: 0;
    height: 100%;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ccc;
}

.accountStyle-details_hover::before{
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 20px;
}

.accountStyle-details:hover .accountStyle-details_hover {
    display: block;
}

@keyframes moveUp {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}